In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 10: Booleans

## Comparison ##

In [ ]:
3 > 1

In [ ]:
1

In [ ]:
3 = 3

In [ ]:
abs("the")

In [ ]:
x == 3.0

In [ ]:
x = 5
y = 12

In [ ]:
x == 7

In [ ]:
y - x

In [ ]:
4 < y - x

In [ ]:
y - x < 7

In [ ]:
y - x <= 7

In [ ]:
(4 < y - x) and (y - x < 7)

In [ ]:
True and True

In [ ]:
pets = make_array('dog', 'dog', 'cat', 'cat', 'rabbit')

In [ ]:
pets == 'dog'

In [ ]:
1 + 1 + 0 + 0 + 0

In [ ]:
sum(make_array(True, True, False, False, False))

In [ ]:
sum(pets == 'dog')

In [ ]:
np.count_nonzero(pets == 'dog')

In [ ]:
terms = Table().with_column('Semesters', np.arange(1, 9))
terms

In [ ]:
terms.where('Semesters', are.above(6))

In [ ]:
senior = are.above(6)

In [ ]:
senior(4)

In [ ]:
def also_senior(x):
    return x > 6

In [ ]:
also_senior(7)

In [ ]:
terms.apply(also_senior, 'Semesters')

## Conditional Statements ##

In [45]:
def year_from_semesters(x):
    if  x <= 0:
        return 'Not a valid input'
    elif x <= 2:
        return 'Freshman'
    elif x <= 4:
        return 'Sophomore'
    elif x <= 6:
        return 'Junior'
    elif x <= 8:
        return 'Senior' 
    else:
        return 'Not a valid input'

In [47]:
year_from_semesters(2)

'Freshman'

In [ ]:
year_from_semesters(9)

In [ ]:
terms.with_column('Year', terms.apply(year_from_semesters, 'Semesters'))