In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 18 -- Causality ##

## Deflategate ##

In [3]:
football = Table.read_table('deflategate.csv')
football.show()

In [4]:
football = football.drop(1, 2).with_column(
    'Combined', (football.column(1)+football.column(2))/2
    )
football.show()

In [ ]:
np.ones(5)

In [ ]:
start = np.append(12.5 * np.ones(11), 13 * np.ones(4))
start

In [ ]:
drop_values = start - football.column(1)

In [ ]:
football = football.drop('Combined').with_column('Drop', drop_values)

In [ ]:
football.show()

In [ ]:
means = football.group('Team', np.average)
means

In [ ]:
observed_difference = means.column(1).item(1) - means.column(1).item(0)
observed_difference

In [ ]:
group_labels = football.select('Team')
drops = football.select('Drop')

In [ ]:
differences = make_array()

for i in np.arange(20000):
    shuffled_drops = drops.sample(with_replacement = False).column(0)
    shuffled_tbl = group_labels.with_column('Shuffled Drop', shuffled_drops)
    means_tbl = shuffled_tbl.group(0, np.average)
    new_diff = means_tbl.column(1).item(0) - means_tbl.column(1).item(1)
    differences = np.append(differences, new_diff)

In [ ]:
Table().with_column('Difference Between Means', differences).hist()
plots.scatter(observed_difference, 0, color='red', s=40);

In [ ]:
np.count_nonzero(differences >= observed_difference) / 20000